<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    ESTIMACIÓN Y PLANEACION DE SOL. COMP. B ING. DE S.
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!------incluir cabezera navegacion----->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/estilos.css">
  <script type="text/javascript" src="js/Lista.js"></script>
</head>
<body>
  <div class="contenedor">
    <section class="row">
      <div class="col-md-12">
        <h1 class="text-center titulo ">Evidencia 1 - Calcular la media y la desviación estandar
        </h1>
      </div>
    </section>
    <hr>
    <section>
  
      <div class="col-md-5">
        <div class=" card card-body">
          <!--Enviar datos  del navegador al servidor  FORMULARIO -->
          <form action="/aa" method="post">
            
            <div class="form-group">
              <input  class="form-control" type="text"  id="DatoX" name="DatoX"  placeholder="Registrar X" required>
            </div>
            <button type="submit" class="btn btn-outline-primary" onclick="AgregarX('X')"> Agregar X</button>
            <hr />
            <div class="form-group">
              <input  class="form-control" type="text"  id="DatoY" name="DatoY"  placeholder="Registrar y" required>
            </div>
            <button type="submit" class="btn btn-outline-primary" onclick="Agregar('Y')"> Agregar Y</button>
          </form>
        </div>
      </div>

    </section>
    <hr />
    <div class="contenedor-anuncios articulo">
      <!--==== Lista ====-->
      <div class="textos-header">
        <p>Lista: <span id="Lista"></span></p>
      </div>
      <br /><br />
      <!--==== Media ====-->
      <div class="textos-header">
        <p>Media: <span id="Media"></span></p>
      </div>
      <br /><br />
      <!--==== Desviacion estandar ====-->
      <div class="textos-header">
        <p>Desviación estandar: <span id="Desviacion"></span></p>
      </div>
    </div>
    <br /><br />
    <!--==== Button ====-->
    <div class="form-row text-center">
      <div class="col-12">
        <button type="submit" class="btn btn-secondary" onclick="Calcular()">Calcular</button>
      </div>
    </div>
  </div>
</body>
</html>