<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        GEMAK
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script type="text/javascript" src="js/Reporte.js"></script>
</head>

<body onload="Tabla()">
    <div class="container-fluid">
        <!--================================================== CABEZERA ==================================================================-->
        <div class="p-3">
            <section class="row">
                <div class="col-md-12">
                    <h1 class="text-center">IDENTIFICACIÓN Y ANÁLISIS DE LOS F.R.P Y EVALUACIÓN DEL
                        ENTORNO ORGANIZACIONAL EN EL CENTROS DE TRABAJO
                    </h1>
                    <p class="text-center">GEMAK SA de CV</p>
                </div>
            </section>
        </div>
        <!--================================================== DATOS PERSONALES ==========================================================-->
        <br>
        <div class="border p-3">
            <form action="" id="Formualario">
                <section class="row">
                    <section class="col-md-12">
                        <section class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Nombre">Nombre Completo</label>
                                    <input type="text" class="form-control" id="Nombre" maxlength="128"
                                        placeholder="Nombre Completo" required value="Sergio Osvaldo Magaña Gonzalez">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form_group">
                                    <label for="nomina">No. Nómina</label>
                                    <input type="text" class="form-control" id="Nomina" placeholder="Número de nómina"
                                        maxlength="15" required value="285" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form_group">
                                    <label for="Planta">Planta</label>
                                    <input type="text" class="form-control" id="Planta" placeholder="Planta"
                                        maxlength="15" required value="Morelos" />
                                </div>
                            </div>
                        </section>
                    </section>
                </section>
            </form>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered table-dark  text-center">
                <tr>
                    <th>Categoria</th>
                    <th>Dominio</th>
                    <th>Dimesión</th>
                    <th>Resultado</th>
                </tr>
                <!-- -->
                <tr>
                    <td>Ambiente de trabajo <span id="Cat1"></span></td>
                    <td>Condiciones en el ambiente de trabajo</td>
                    <td>Condiciones peligrosas e inseguras</td>
                    <td><span id="R1"></span></td>
                </tr>
                <!-- -->
                <tr>
                    <td>Condiciones deficientes e insalubres <span id="Cat2"></span></td>
                    <td>-</td>
                    <td>-</td>
                    <td><span id="R2"></span></th>
                </tr>
                <!-- -->
                <tr>
                    <td>Trabajos peligrosos <span id="Cat3" ></span></td>
                    <td>-</td>
                    <td>-</td>
                    <td><span id="R3"></span></td>
                </tr>
                <!-- -->
                <tr>
                    <td rowspan="10">Factores propios de la actividad <span id="Cat4"></span></td>
                    <td rowspan="6">Carga de trabajo <span id="Dom2"></span></td>
                    <td>Cargas cuantitativas <span id="Dim2"></span></td>
                    <td><span id="R4"></span></td>
                </tr>
                <!-- -->
                <tr>
                    <td>Ritmos de trabajo acelerado <span id="Dim3"></span></td>
                    <td><span id="R5"></span></td>
                </tr>
                <!-- -->
                <tr>
                    <td>Carga mental <span id="Dim4"></span></td>
                    <td><span id="R6"></span></td>
                </tr>
                <!-- -->
                <tr>
                    <td>Cargas psicológicas emocionales <span id="Dim5"></span></td>
                    <td><span id="R7"></span></td>
                </tr>
                <!-- -->
                <tr>
                    <td>Cargas de alta responsabilidad <span id="Dim6"></span></td>
                    <td><span id="R8"></span></td>
                </tr>
                <!-- -->
                <tr>
                    <td>Cargas contradictorias o inconsistentes <span id="Dim7"></span></td>
                    <td><span id="R9"></span></td>
                </tr>
                <!-- -->
                <tr>
                    <td rowspan="4">Falta de control sobre el trabajo <span id="Dom3"></span></td>
                    <td>Falta de control y autonomía sobre el trabajo <span id="Dim8"></span></td>
                    <td><span id="R10"></span></td>
                </tr>
                <!-- -->
                <tr>
                    <td>Limitada o nula posibilidad de desarrollo</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td>Insuficiente participación y manejo del cambio</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td>Limitada o inexistente capacitación</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td rowspan="3">Organización del tiempo de trabajo</td>
                    <td rowspan="2">Jornada de trabajo</td>
                    <td>Jornadas de trabajo extensas</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td>Influencia del trabajo fuera del centro laboral</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td>Interferencia en la relación trabajo-familia</td>
                    <td>Influencia de las responsabilidades familiares</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td rowspan="5">Liderazgo y relaciones en el trabajo</td>
                    <td rowspan="2">Liderazgo</td>
                    <td>Escaza claridad de funciones</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td>Características del liderazgo</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td rowspan="2">Relaciones en el trabajo</td>
                    <td>Relaciones sociales en el trabajo</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td>Deficiente relación con los colaboradores que supervisa</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td>Violencia</td>
                    <td>Violencia laboral</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td rowspan="4">Entorno organizacional</td>
                    <td rowspan="2">Reconocimiento del desempeño</td>
                    <td>Escasa o nula retroalimentación del desempeño</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td>Escaso o nulo reconocimiento y compensación</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td rowspan="2">Insuficiente sentido de pertenencia e, inestabilidad</td>
                    <td>Limitado sentido de pertenencia</td>
                    <td>##</td>
                </tr>
                <!-- -->
                <tr>
                    <td>Inestabilidad laboral</td>
                    <td>##</td>
                </tr>
            </table>
        </div>

    </div>
    <!--Fluid-->

</body>