<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    GEMAK
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
</head>

<body>
  <!-- -->
  <div class="container-fluid">
    <!--================================================== CABEZERA ==================================================================-->
    <div class="p-3">
      <section class="row">
        <div class="col-md-12">
          <h1 class="text-center">IDENTIFICACIÓN Y ANÁLISIS DE LOS F.R.P Y EVALUACIÓN DEL
            ENTORNO ORGANIZACIONAL EN EL CENTROS DE TRABAJO
          </h1>
          <p class="text-center">GEMAK SA de CV</p>
        </div>
      </section>
    </div>
    <!--================================================== DATOS PERSONALES ==========================================================-->
    <br>
    <div class="border p-3">
      <form action="" id="Formualario">
        <section class="row">
          <section class="col-md-12">
            <section class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="Nombre">Nombre Completo</label>
                  <input type="text" class="form-control" id="Nombre" maxlength="128" placeholder="Nombre Completo"
                    required value="Sergio Osvaldo Magaña Gonzalez">
                </div>
              </div>

              <div class="col-md-3">
                <div class="form_group">
                  <label for="nomina">No. Nómina</label>
                  <input type="text" class="form-control" id="Nomina" placeholder="Número de nómina" maxlength="15"
                    required value="285" />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form_group">
                  <label for="Planta">Planta</label>
                  <input type="text" class="form-control" id="Planta" placeholder="Planta" maxlength="15" required
                    value="Morelos" />
                </div>
              </div>
            </section>
          </section>
        </section>
      </form>
    </div>
    <br>

    <!--FULL-->
    <div class="container-fluid">
      <div class="card">
        <div class="card-header text-white bg-dark">
          Ambiente de trabajo <span>- Total: 8 [Nulo o despreciable]</span>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Condiciones en el ambiente de trabajo <span>- Total: 8 [Nulo o despreciable]</span></p>
            <footer class="blockquote-footer">Condiciones peligrosas e inseguras <cite title="Source Title">Total: 8</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <br>
    <!-- -->
    <div class="container-fluid">
      <div class="card">
        <div class="card-header text-white bg-dark">
          Condiciones deficientes e insalubres
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><span> Total: 8</span></p>
          </blockquote>
        </div>
      </div>
    </div>
    <br>
    <!-- -->
    <div class="container-fluid">
      <div class="card">
        <div class="card-header text-white bg-dark">
          Trabajos peligrosos
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><span>- Total: 8 [Nulo o despreciable]</span></p>
          </blockquote>
        </div>
      </div>
    </div>
    <br>
    <!--FULL-->
    <div class="container-fluid">
      <div class="card">
        <div class="card-header text-white bg-dark">
          Factores propios de la actividad <span>- Total: 1110 [Muy alto]</span>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Carga de trabajo <span>- Total: 322 [alto]</span></p>
            <footer class="blockquote-footer">Cargas cuantitativas <cite title="Source Title">Total: 66</cite></footer>
            <footer class="blockquote-footer">Ritmos de trabajo acelerado <cite title="Source Title">Total: 78</cite></footer>
            <footer class="blockquote-footer">Carga mental <cite title="Source Title">Total: 78</cite></footer>
            <footer class="blockquote-footer">Cargas psicologicas emocionales <cite title="Source Title">Total: 20</cite></footer>
            <footer class="blockquote-footer">Cargas de alta responsabilidad <cite title="Source Title">Total: 35</cite></footer>
            <footer class="blockquote-footer">Cargas contradictorias o inconsistentes <cite title="Source Title">Total: 55</cite></footer>
          </blockquote>
          <hr>
          <blockquote class="blockquote mb-0">
            <p>Falta de control sobre el trabajo <span>- Total: 788 [Muy alto]</span></p>
            <footer class="blockquote-footer">Falta de control y autonomía sobre el trabajo <cite title="Source Title">Total: 612</cite></footer>
            <footer class="blockquote-footer">Limitada o nula posibilidad de desarrollo <cite title="Source Title">Total: 78</cite></footer>
            <footer class="blockquote-footer">Insuficiente participación y manejo del cambio <cite title="Source Title">Total: 78</cite></footer>
            <footer class="blockquote-footer">Limitada o inexistente capacitación <cite title="Source Title">Total: 20</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <br>
    <!--FULL-->
    <div class="container-fluid">
      <div class="card">
        <div class="card-header text-white bg-dark">
          Organización del tiempo de trabajo <span>- Total: 1110 [Muy alto]</span>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Jornada de trabajo <span>- Total: 1110 [Muy alto]</span></p>
            <footer class="blockquote-footer">Jornadas de trabajo extensas <cite title="Source Title">Total: 612</cite>
            </footer>
          </blockquote>
          <hr>
          <blockquote class="blockquote mb-0">
            <p>Interferencia en la relación trabajo-familia <span>- Total: 1110 [Muy alto]</span></p>
            <footer class="blockquote-footer">Influencia del trabajo fuera del centro laboral <cite
                title="Source Title">Total: 612</cite></footer>
            <footer class="blockquote-footer">Influencia de las responsabilidades familiares <cite
                title="Source Title">Total: 78</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <br>
    <!--FULL-->
    <div class="container-fluid">
      <div class="card">
        <div class="card-header text-white bg-dark">
          Liderazgo y relaciones en el trabajo <span>- Total: 1110 [Muy alto]</span>           
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Liderazgo <span>- Total: 1110 [Muy alto]</span></p>
            <footer class="blockquote-footer">Escaza claridad de funciones <cite title="Source Title">Total: 612</cite>
            </footer>
            <footer class="blockquote-footer">Características del liderazgo <cite title="Source Title">Total: 612</cite>
            </footer>
          </blockquote>
          <hr>
          <blockquote class="blockquote mb-0">
            <p>Relaciones en el trabajo <span>- Total: 1110 [Muy alto]</span></p>
            <footer class="blockquote-footer">Relaciones sociales en el trabajo <cite
                title="Source Title">Total: 612</cite></footer>
            <footer class="blockquote-footer">Deficiente relación con los colaboradores que supervisa <cite
                title="Source Title">Total: 78</cite></footer>
          </blockquote>
          <hr>
          <blockquote class="blockquote mb-0">
            <p>Violencia <span>- Total: 1110 [Muy alto]</span></p>
            <footer class="blockquote-footer">Violencia laboral <cite
                title="Source Title">Total: 612</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <br>
    <!--FULL-->
    <div class="container-fluid">
      <div class="card">
        <div class="card-header text-white bg-dark">
          Entorno organizacional <span>- Total: 1110 [Muy alto]</span>          
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Reconocimiento del desempeño <span>- Total: 1110 [Muy alto]</span></p>
            <footer class="blockquote-footer">Escasa o nula retroalimentación del desempeño <cite title="Source Title">Total: 612</cite>
            </footer>
            <footer class="blockquote-footer">Escaso o nulo reconocimiento y compensación <cite title="Source Title">Total: 612</cite>
            </footer>
          </blockquote>
          <hr>
          <blockquote class="blockquote mb-0">
            <p>Insuficiente sentido de pertenencia e, inestabilidad <span>- Total: 1110 [Muy alto]</span></p>
            <footer class="blockquote-footer">Limitado sentido de pertenencia <cite
                title="Source Title">Total: 612</cite></footer>
            <footer class="blockquote-footer">Inestabilidad laboral <cite
                title="Source Title">Total: 78</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <br>
    <!--===================== TABLA =====================================-->
    <div >
      <table class="table table-condensed table-hover" id="TablaCategoria">
        <thead class="thead-dark">
          <tr>
            <th>Categoria</th>
            <th>Calificación</th>
            <th>Criterio</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <br><br>
      <hr />
     <!-- <button type="button" class="btn btn-secondary" onclick="GuardarNota()" data-target="#exampleModal"
        data-toggle="modal">Registrar</button>-->
    </div>

        <!--===================== TABLA =====================================-->
        <div >
          <table class="table table-condensed table-hover" id="TablaDominio">
            <thead class="thead-dark">
              <tr>
                <th>Categoria</th>
                <th>Calificación</th>
                <th>Criterio</th>
              </tr>
            </thead>
            <tbody>
    
            </tbody>
          </table>
          <br><br>
          <hr />
           <!--<button type="button" class="btn btn-secondary" onclick="GuardarNota()" data-target="#exampleModal"
            data-toggle="modal">Registrar</button>-->
        </div>
    

    <!--Container div -->
  </div>
</body>